<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
</head>
<body>
    <h1>Bookstore</h1>
    <ul>
    <li><a href="/book/adventures of tomm sawyer">A classic novel - mark Twain</a></li>
    <li><a href="/book/arthashastra">Another classic novel - kautilya</a></li>
        <li><a href="/book/Gulliver's Travels">A good story - swift</a></li>
        <li><a href="/book/book1">rich and poor</li>
    </ul>
    <a href="/add-book">Add a  new book</a>
</body>
</html>
